.about-headphones__btn {
  width: rem(91px);
  height: rem(91px);
  cursor: pointer;
  background: url(../img/click.png);
}


.about-headphones__title {
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  margin-top: 25px;
  margin-bottom: 24px;
  width: 100%;
}

.about-headphones__text {
  font-size: rem(18px);
  font-weight: 400px;
  color: #666666;
  margin-bottom: 24px;
} 

.about-headphones__property-charge, .about-headphones__property-weight{
  width: 104px;
  height: 44px;
}

.about-headphones__property {
  display: flex;
  margin-bottom: 24px;
  width: 252px;
  justify-content: space-between;
}

.about-headphones__order-price {
  font-size: 36px;
  display: flex;
  font-weight: 400;
}

.button {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(18px) rem(41px);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: rem(100px);
  background: #E01F3D;
  color: white;
  border: none;
}

.button--theme-transparent {
  background: transparent;
  color: white;
  font-size: rem(16px);
  font-weight: 400;
  text-transform: none;
  
}

.headphones-info {
  display: flex;
  height: 100vh;
  min-height: rem(642px);
}


.about-headphones {
  width: 100%;
  padding-top: 91px;
  padding-bottom: 124px;
  padding-left: 59px;
  
}

.slider-section {
  background: #F5F5F5;
  height: 100vh;
  height: 100%;
  min-height: rem(642px);
}

.headphones-img {
  padding-bottom: 94px;
  padding-top: 96px;

}

.about-headphones__order-price {
  display: flex;
  justify-content: space-between;
  width: 138px;
  margin-right: 16px;
}

.about-headphones__order {
  display: flex;
  
}

.slider-section__right {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
  
}

.slider-section__left {
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  left: 0;
 
  
  
}

.slider-section__item {
  position: relative;
}

